.chip {
  composes: clickable from global;
  padding: 8px 15px;
  background-color: var(--color-p-2);
  border-radius: 20px/50%;
}

.chip.active {
  background-color: var(--color-tint);
  color: var(--white);
}
