	@font-face {
		font-family: GoogleProductSans;
		src: url(fonts/GoogleProductSans.woff2) format('woff2');
	}
	  
	  
	@font-face {
		font-family: RageItalic;
		src: url(fonts/rage-italic.woff) format('woff');
	  }
	  
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}



	body {
		font-family: "GoogleProductSans", "Arial";
		background-image:url("images/wallpaper.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-color:black;
		padding-top:0px;
		color:white;
		margin:0px;
/* Body Fade Out */
			opacity:1;
			transition:0.5s opacity;
/* Body Fade Out */
	  }
	  
/* Body Fade Out */
	body.fade-out {
		opacity:0;
		transition:none;
	}
/* Body Fade Out */

	body.fade-out-animation {
		opacity:0;
		transition:0.5s opacity;
	}

	div.fade-out-animation {
		opacity:0;
		transition:0.5s opacity;
	}
	  
	hr {
		margin:30px 50px;
		height:1px;
		border:none;
		background-color:rgb(255,255,255);		  
	  }
	  
	#navbar {
		background-color: #1f1f1f;
		padding-top: 10px;
		padding-bottom: 10px;
		position: fixed;
		z-index: 100;
		width: 100%;
		float: left;
		box-shadow:0 14px 20px 0px rgba(0,0,0,0.38);
		height: 100px;
		top:0px;
		right: 0px;
		left: 0px;
		display:flex;
		overflow:hidden
	  }
	  
	  
	  .undertitle {
	  color: grey;
	  }
	 #navbar-logo {
	 position: absolute;
	 left: 10px;
	 top: 0px;
	 bottom: 0px;
	 margin-top:10px;
	 margin-bottom:10px;
	 display:flex;
	 width:20%
	 }
	 
	 #navbar-logo img {
		 max-height:100%;
		 max-width:100%;
		 width:auto;
		 height: auto;
		 margin:auto 0;
	 }
	 
	 #navbar-textlogo {
	 position:relative;
	 margin: auto;
	 width: 50%;
	 font-size:400%;
	 font-family: RageItalic;
	 text-align: center;
	 top: -80px;
	 }
	 
	 #navbar-textlogo p {
		 text-align: center;
	 }
	 
	 
	 #navbar-textlogo a{
		 color: white;
		 text-decoration: none;
	 }
	 
	 #contact-me-navbar {
		 position:absolute;
		 text-align: center;
		 top:70%;
		 left:25%;
		 width:50%;
		 font-weight:bold;
	 }
	 
	 #contact-me-navbar p {
		 margin-top:10px;
	 }
	 
	 #contact-me-navbar a{
		 color: white;
		 text-decoration: none;
	 }
	 
	 #navbar-title {
	 position: absolute;
	 right: 10px;
	 width:30vw;
	 top: 0px;
	 height: 100px;
	 text-align: right;
	 font-size:100%;
	 margin: auto 10px;
	 }
	 
	 #container-1 {
	position:relative;
	top: 100px;
//	left:10%;
	margin-bottom: 10px;
	width: 80%;
	margin: 0 auto;
	padding:20px 40px;
	background-color: rgba(25, 25, 25, 0.9);
	box-shadow:-20px 0px 20px 5px rgba(0,0,0,0.38), 20px 0px 20px 5px rgba(0,0,0,0.38);
//	height: 100%;
	 }

#container-1-1-social-media {
	margin-top:20px;
}

#container-1-1-social-media img {
	width:15%;
	padding:10px;
}

#fb {
	width:33%;
	overflow:auto;
	text-align:center;
	margin: 0 0 0 0;
	position:relative;
	float:left;
	overflow:hidden;
	}
	
#snap {
	width:33%;
	overflow:auto;
	text-align:center;
	margin: 0 0 0 0;
	position:relative;
	display: inline-block;
	overflow:hidden;
	}
	
#insta {
	width:33%;
	overflow:auto;
	text-align:center;
	margin: 0 0 0 0;
	position:relative;
	float:right;
	overflow:hidden;
	}
	
	.class {
		text-align:centre;
	}

#container-1-3-youtube {
	height:auto;
}
	
#container-1-3-youtube iframe{
	border:none;
	height:auto;
	display:inline;
}


/*Testing*/



#snapchat-popup {
	position:fixed;
	margin:auto;
	width:100%;
	height:100%;
	z-index:1000;
/*	background-image:url('images/snapchat-logo.png'); */
	background-color: rgba(0,0,0,0.5);
	background-repeat:no-repeat;
	background-size:cover;
	left:0;
	top:0;
	display:none;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
/*testing animation */
	animation: fadein 1s;
/*testing animation */
}

#snapchat-popup-helperdiv {
	display: block;
	margin: auto;
	height: 50vh;
	width:50vh;
	overflow:hidden;
/*testing animation */	
	animation: fadein 2s;
/*testing animation */	
/*	
	background-color:black;
	border-radius:5px;
	*/
}

#snapchat-popup-helperdiv img {
	max-height:100%;
	max-width:100%;
/*testing animation */
	animation: fadein 1s;
/*testing animation */
}

