html,
body {
  /* Definitions */
  --color-p-dark: #3c3c3c;
  --color-p-normal: #4d4d4d;
  --color-p-light: #595959;
  --color-tint: rgb(239, 83, 80);
  --shadow-1: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --radius: 5px;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-p-dark);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}

.clickable:hover {
  filter: brightness(1.1);
  cursor: pointer;
  user-select: none;
}
