.container {
  display: flex;
  justify-content: center;
}

.centered-container {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}

.card-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 10px;
}
