.icon {
  fill: var(--font-base-color);
  --size: 28px;
  width: var(--size);
  height: var(--size);
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 20px 0;
}
