.circle {
  border-radius: 50%;
  border-color: var(--color-tint);
  border-style: solid;
  border-width: 2px;
  background-color: var(--color-tint);
  background-size: cover;
}

.circle:hover {
  cursor: pointer;
}
