.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-p-light);
  height: 100px;
  color: white;
  box-shadow: var(--shadow-1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
  z-index: 1000;
}

.transparent {
  background-color: transparent;
  box-shadow: none;
}

.page-title {
  font-size: 2em;
}

.space {
  flex-grow: 1;
}
